/* .App {
  text-align: center;
} */
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.btn-primary,
.btn-primary:hover {
  background-color: #39891f;
}
.card-title {
  color: #39891f;
}
td .secltion-box {
  text-align: "center";
}
